* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: rgba(235, 136, 56, 0.842);
}

.container{
    background-color: rgb(255, 240, 217);
    font-size: 16px;
    padding: 3em 2.8em;
    width: 90vw;
    max-width: 32em;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 1em;
    border-radius: 0.6em;
    box-shadow: 0 1.2em 2.5em rgba(42, 32, 0, 0.2);
} 

.search-container {
    width: 100%;
    display: grid;
    grid-template-columns: 9fr 2fr;
    gap: 1.2em;
}

#search-inp {
    font-size: 1em;
    padding: 0.6em;
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(22, 22, 22, 0.418);
    background-color: rgb(255, 240, 217);
}

#search-btn{
    border: none;
    background-color: rgb(255, 240, 217);
    font-weight: 800;
}