* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: rgba(235, 136, 56, 0.842);
}

.container{
    background-color: rgb(255, 240, 217);
    font-size: 16px;
    padding: 3em 2.8em;
    width: 90vw;
    max-width: 32em;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 1em;
    border-radius: 0.6em;
    box-shadow: 0 1.2em 2.5em rgba(42, 32, 0, 0.2);
} 

.search-container {
    width: 100%;
    display: grid;
    grid-template-columns: 9fr 2fr;
    gap: 1.2em;
}

#search-inp {
    font-size: 1em;
    padding: 0.6em;
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(22, 22, 22, 0.418);
    background-color: rgb(255, 240, 217);
}

#search-btn{
    border: none;
    background-color: rgb(255, 240, 217);
    font-weight: 800;
}

img {
    display: block;
    width: 50%;
    margin: 1.8em auto 0 auto;
}

.details{
    background-color:rgba(235, 136, 56, 0.842);
    position: relative;
    margin:-4.5em auto 0 0;
    text-align: center;
    padding: 0.6em 0;
    width: 55%;
    left: 22.5%;
}

.details h2{
    font-size: 1.2em;
    font-weight: 600;
}

.details h3{
    font-size: 0.75em;
    font-weight: 200;
}

#recipe pre{
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 2.5em 1.2em 1.2em 1.2em;
}

#recipe {
    position: absolute;
    background-color: rgb(255, 240, 217);
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0; 
    z-index: 2;
    border-radius: 0.6em;
    display: none;
}   

#hide-recipe{
    font-size: 1em;
    position: relative;
    width: 1.8em;
    height: 1.8em;
    background-color: rgba(235, 136, 56, 0.842);
    top: 1.2em;
    left: 90%;
}